@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    padding: 0%;
    margin: 0%;
    border: 0%;
}
#backgroundImage{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background-image: url("https://picsum.photos/1000/900?random=2");
    background-repeat: no-repeat;
    background-size: cover;
}

.containerContact {
    background-color: #fff;
    position: relative;
    margin: 1%;
    display: flex;
    justify-content: space-between;
    height: 20%;
    width: auto;
}

.philisaLogo {
    margin-left: 0%;
    padding-left: 2%;
    display: flex;
    height: 70%;
    width: 40%;
    align-items: center; 
    justify-content: start; 

}

.menu {
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    height: 30%;
    width: 50%;
    margin: 0%;
    padding: 0%;
    border: 0%;
}

h2 {
    background: rgba( 255, 255, 255, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.links {
    display: flex;
    justify-content: center; 
    align-items: center;

}

a {
    text-decoration: none;
}

.menu a {
    
    width: 25%;
    text-decoration: none;
    align-self: center;
    color: navy;
    font-size: 300;
    display: flex;
    align-content: flex-end;
}

.menu a:hover {
    background: skyblue; 
    font-size: 150%;
}
.contact{
    position: relative;
    min-height: 100vh;
    /* padding: 50px 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 600;
}
.container3{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}
.container3 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container3 .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.container3 .contactInfo .box .icon{
    min-width:60px;
    height:60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size:22px ;
}
.container3 .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container3 .contactInfo .box .text h3 {
    font-weight: 600;
    color: darkblue;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 0 30px 0 skyblue

}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 600;
}
.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    border-radius: 20%;

}
.contactForm .inputbox input, 
.contactForm .inputbox textarea{
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputbox span{
    position: absolute;
    left: 0;
    padding: 4px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span {
    color: darkred;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputbox input[type="submit"]{
    width: 100px;
    background: darkturquoise;
    color: floralwhite;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}
@media(max-width: 991px){
    .contact{
        padding: 50px;

    }
    .container3{
        flex-direction: column;
    }
    .container3 .contactInfo{
        margin-bottom: 40px;

    }
    .container3 .contactInfo, .contactForm{
        width: 100%;
    }

}

h2 {
    background: rgba( 255, 255, 255, 0.4 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5%;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    color: #fff;
}

.socialLinks {
    height: auto;
    width: 15%;
    display: flex;
    flex-direction: row;
}

#socialButtons {
    height: auto;
    width: 60%;
    display: flex;
    align-self: center;
    justify-content: center;
}

#socialButtons.a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
    margin: 0%;

}

#socialButtons:hover {
    margin: 0%;
    padding: 0%;
}

.companyCopyright {
    height: auto;
    width: 50%;
    text-align: center;
    align-self: center;
}

.faqs {
    height: auto;
    width: 15%;
    text-align: right;
}





